@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="orbit show-for-medium" role="region" aria-label="Favorite Space Pictures" data-orbit>
    <button class="orbit-previous" aria-label="previous"><span class="show-for-sr">Previous Slide</span>&#9664;</button>
    <button class="orbit-next" aria-label="next"><span class="show-for-sr">Next Slide</span>&#9654;</button>
    <ul class="orbit-container">
        <li class="is-active orbit-slide">
            <svg xmlns="http://www.w3.org/2000/svg" width="1400" height="auto" viewBox="0 0 1400 400">
                <g transform="translate(0 -552.36216)">
                    <text x="294" y="754.4" class="a">
                        <tspan x="294" y="754.4" />
                    </text>
                    <text x="1052.6" y="757.8" class="a">
                        <tspan x="724.3" y="757.8" class="b">
                            <tspan x="724.3" y="757.8" dx="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0" style="-inkscape-font-specification:sans-serif;font-family:sans-serif;font-size:60px;text-align:center;text-anchor:middle">
                                Box Metaphor Studios
                            </tspan>
                        </tspan>
                        <tspan x="724.3" y="822.5" class="b">
                            <tspan x="724.3" y="822.5" style="-inkscape-font-specification:sans-serif;font-family:sans-serif;font-size:50px;text-align:center;text-anchor:middle">
                                Slide 1
                            </tspan>
                        </tspan>
                    </text>
                    <flowRoot transform="translate(0 552.36216)" class="a">
                        <flowRegion>
                            <rect width="484.9" height="110.1" x="262.6" y="130.3" style="-inkscape-font-specification:Roboto;font-family:Roboto" />
                        </flowRegion>
                    </flowRoot>
                    <flowRoot transform="translate(0 552.36216)" style="font-family:sans-serif;font-size:40px;letter-spacing:0px;line-height:100%;stroke-width:1px;word-spacing:0px">
                        <flowRegion>
                            <rect width="342.4" height="109.1" x="396" y="106" />
                        </flowRegion>
                    </flowRoot>
                    <path d="m1247.5 979.6c0.5-3.6-1.7-6.7-2-10.1-0.2-2 0.2-4 0-6.1-0.2-1.7-0.7-3.4-1-5.1-0.4-2-0.5-4.1-1-6.1-0.9-3.7-2.5-7.3-3-11.1-0.5-3.7 0.4-7.4 0-11.1-0.3-2.8-1.7-5.3-2-8.1-0.3-2.7 0-5.4 0-8.1 0-2.4 0-4.7 0-7.1 0-4.4 0-8.8 0-13.1 0-1.3-0.2-2.7 0-4 0.2-1.4 0.9-2.7 1-4 2.3-25-1.9 4.9 1-11.1 0.4-2.3 0.1-4.9 1-7.1 0.8-2 2.7-3.4 4-5.1 1.3-1.7 2.8-3.3 4-5.1 8.7-13-4.2 3.1 5.1-6.1 1.9-1.9 2.9-4.5 5.1-6.1 0.8-0.6 2.1 0.5 3 0 0.7-0.3 0.7-1.3 1-2 0.7-0.3 1.3-0.8 2-1 0.9-0.3 2.1 0.3 3 0 4.2 1.8 1.2-1.6 2-2 1.2-0.6 2.8 0.6 4 0 0.3-0.2-0.2-0.8 0-1 0.2-0.2 0.7 0 1 0 1.3 0 2.7 0.2 4 0 0.7-0.1 1.3-0.8 2-1 1.7-0.5 3.4-0.5 5.1-1 1.4-0.5 2.6-1.8 4-2 2.3-0.4 4.7 0 7.1 0 2.4 0 4.7 0 7.1 0 0.7 0 1.4 0.1 2 0 1-0.2 2-0.7 3-1 1.3-0.4 2.7-0.6 4-1 2-0.6 4.1-1.3 6.1-2 1.7-0.6 3.6-1 5.1-2 1-0.7 1-2.4 2-3 1.2-7 4.7-1.2 7.1-2 0.7-0.2 1.3-0.7 2-1 2.9-1.2 2.7-0.6 5.1-2 1-0.6 1.9-1.7 3-2 1.3-0.4 2.7 0 4 0 0.3 0 0.7 0.2 1 0 0.3-0.1 1.2-1.8 2-1 0.2 0.2-0.1 0.7 0 1 0.6 2 1.5 4 2 6.1 0.8 3-1.5 2 0 6.1 0.6 1.6 2.5 2.4 3 4 0.5 1.6-0.3 3.4 0 5.1 0.4 1.8 1.5 3.3 2 5.1 0.5 1.6 0.7 3.4 1 5.1 0.7 3 1.2 6.1 2 9.1 1.6 5.4 3.8 7 5.1 13.1 0.5 2.3-0.2 4.7 0 7.1 0.1 1.1 0.9 2 1 3 0.2 1.7 0 3.4 0 5.1 0 1.3-0.4 2.8 0 4 0.6 1.9 2.3 3.2 3 5.1 0.6 1.6 0.7 3.4 1 5.1 0.3 1.7 0.9 3.3 1 5.1 0 32.6-0.8 2.4 1 20.2 0.6 5.8-1.2 4.6 0 12.1 0.3 1.8 1.6 3.3 2 5.1 0.2 1 0 2 0 3 0 1.7 0 3.4 0 5.1 0 1.7-0.4 3.4 0 5.1 0.3 1.2 1.6 1.9 2 3 0.3 0.6-0.1 1.4 0 2 0.2 1.4 0.8 2.7 1 4 0.1 1-0.2 2 0 3 0.1 0.7 0.9 1.3 1 2 0.2 1.3 0 7.4 0 9.1 0 1.1 0.2 5.3 0 6.1-0.2 0.9-2.7 1.8-3 2-0.4 0.3-0.6 0.8-1 1-2 0.8-4 1.4-6.1 2-1.3 0.4-2.8 0.5-4 1-1.1 0.5-2 1.4-3 2-3.7 2.1-7.5 3.8-11.1 6.1-1.8 1.1-3.1 3.1-5.1 4-3.2 1.5-6.8 1.9-10.1 3-13.1 4.6-26 10.1-39.4 14.1-7 2.1-14.1 4.1-21.2 6.1-1.3 0.4-2.7 0.7-4 1-1.7 0.4-3.4 0.4-5.1 1-2.1 0.8-4 2.1-6.1 3-0.3 0.1-0.8-0.2-1 0-0.2 0.2 0 0.7 0 1" style="fill:#008080;stroke-width:1px;stroke:#000" />
                    <path d="m778.8 965.5c3-5 2.4-6.4 8.1-7.1 1.3-0.2 2.8 0.5 4 0 5-2.2 4.8-4.6 8.1-8.1 6.7-7.3 8.1-9.3 16.2-13.1 7.6-3.6 22.8-8.4 29.3-10.1 2.6-0.7 5.6 0.1 8.1-1 2.8-1.3 4.2-4.8 7.1-6.1 22.1-10.1 21.3-7.2 39.4-12.1 4.4-1.2 8.6-3.6 13.1-4 8.7-0.9 17.5 0 26.3 0 2.7 0 5.4-0.3 8.1 0 3.7 0.4 7.4 1.7 11.1 2 6.7 0.5 13.5 0 20.2 0 4.7 0 8.1-0.1 13.1 1 5.4 1.3 15.7 12.7 16.2 13.1 3 2.7 5.9 5.5 9.1 8.1 3.7 3 11.2 7.8 15.2 10.1 6 3.5 12.3 6.5 18.2 10.1 1.2 0.8 1.9 2.1 3 3 1.3 1.1 2.6 2.1 4 3 2.6 1.8 5.4 3.4 8.1 5.1 1.7 1 3.5 1.9 5.1 3 1.1 0.9 2 2 3 3 0.3 0.3 0.8 0.6 1 1 0.2 0.3 0 0.7 0 1" class="c" />
                    <path d="m782.9 1007.9c-15.8 4.5-9.2 4-19.2 4-2 0-4.1-0.2-6.1 0-1.4 0.1-2.7 0.8-4 1-1.3 0.2-2.7 0-4 0-2.4 0-4.7 0-7.1 0-1.3 0-2.8 0.4-4 0-3.2-1-5.9-3.2-9.1-4-2-0.5-4 0-6.1 0-4 0-8.1 0-12.1 0-4.4 0-8.8 0-13.1 0-4.4 0-8.8 0.2-13.1 0-5.4-0.2-10.8-0.9-16.2-1-14.8-0.4-29.6 0.4-44.4 0-14.1-0.3-24.4-1.3-38.4-3-35.6-4.3-23-1.5-51.5-10.1-4.4-1.3-8.8-2.7-13.1-4-1.7-0.7-3.3-1.4-5.1-2-1.3-0.4-2.8-0.4-4-1-1.3-1-2.7-2-4-3 0-0.3 0.2-0.7 0-1-0.9-1.1-2.1-1.9-3-3-0.9-1.2-1.3-2.7-2-4-1-1.7-2-3.4-3-5.1-0.6-1-1.5-1.9-2-3-1.5-3-0.9-4.6-2-8.1-0.2-0.5-0.9-0.6-1-1-0.2-0.6 0-4.9 0-6.1" class="c" />
                    <path d="m711.1 969.5c7.1 0 14.1 0 21.2 0 3.7 0 7.4-0.2 11.1 0 2 0.1 4 0.9 6.1 1 19 1.1 4.6-2.2 29.3 2 26.4 4.6-6.9 2.4 27.3 5.1 3.4 0.3 6.7 0 10.1 0 2.7 0 5.4 0.2 8.1 0 9.6-0.6 8-1.7 17.2-1 2 0.1 4 0.8 6.1 1 3.6 0.3 12.3-0.4 15.2 0 23.6 3.7-1.8 2.7 18.2 4 7.1 0.5 14.1 0.7 21.2 1 2 0.1 4 0 6.1 0 7.1 0 14.1 0 21.2 0 17.8 0 35.7 0 53.5 0 2.7 0 5.4 0 8.1 0 3 0 6.1-0.3 9.1 0 3.1 0.3 6 1.5 9.1 2 1.3 0.2 2.7 0 4 0 5.7 0 11.4 0 17.2 0 3.4 0 6.7 0 10.1 0 1.3 0 2.7 0 4 0 0.7 0 1.4 0.2 2 0 0.5-0.2 0.7-0.7 1-1 1-0.3 2-0.9 3-1 1.3-0.2 2.7 0.2 4 0 1.1-0.2 2-0.7 3-1 2-0.3 4-0.8 6.1-1 1-0.1 2 0.2 3 0 0.7-0.1 1.3-0.7 2-1 2-1 4-2 6.1-3 0.7-0.3 1.3-0.9 2-1 1.3-0.2 2.8 0.4 4 0 0.9-0.3 1.2-1.5 2-2 0.9-0.5 2.1-0.5 3-1 0.4-0.2 0.6-0.8 1-1 7.9-3.2 0.1 2.2 10.1-4 0.8-0.5 1.3-1.3 2-2 1-1 1.9-2.2 3-3 0.3-0.2 0.7 0.2 1 0 4.2-2.1-1.1 0.1 1-2 0.2-0.2 0.7 0.2 1 0 2.5-1.2-0.3-1 2-1" class="c" />
                    <path d="m817.2 930.1c2.4 3.7 4.2 7.8 7.1 11.1 1.6 1.8 4.2 2.5 6.1 4 1.8 1.5 3.4 3.4 5.1 5.1 0.7 0.7 1.3 1.4 2 2 0.9 0.8 2.3 1 3 2 1.4 1.8 1.9 4.1 3 6.1 0.2 0.4 0.7 0.6 1 1 1.1 1.6 1.6 3.7 3 5.1 1.1 1.1 3 1 4 2 0.5 0.5-0.2 1.4 0 2 0.9 2.6 2-0.9 2 2" style="fill:#f60;stroke-width:1px;stroke:#000" />
                    <path d="m1386.9 628.1c-25.2-18.3-1-3.3-17.2-9.1-6.5-2.4-12.5-6.2-19.2-8.1-5.2-1.5-10.9-0.9-16.2-2-13.6-2.9-26.9-7-40.4-10.1-7.3-1.7-14.8-2.8-22.2-4-16.5-2.8-33.1-4.8-49.5-8.1-7.5-1.5-14.6-4.8-22.2-6.1-12.7-2.1-25.6-2.8-38.4-4-7.4-0.7-14.8-1.8-22.2-2-8.7-0.2-42.2 3.8-45.5 4-5 0.3-10.1 0-15.2 0-4.4 0-8.8 0-13.1 0-4.4 0-8.8-0.3-13.1 0-4.1 0.3-8 1.7-12.1 2-5 0.4-10.1 0-15.2 0-3.4 0-6.7 0-10.1 0-1.7 0-3.4-0.1-5.1 0-2.7 0.3-5.4 0.7-8.1 1-1.7 0.7-3.3 1.8-5.1 2-8.7 1.1-17.5 1-26.3 2-9.4 1.1-8.5 2.4-17.2 5.1-6.1 1.7-12.1 3.4-18.2 5.1-2.7 0.3-5.5 0.3-8.1 1-29.5 7.9 33-3.3-23.2 7.1-3.7 0.7-7.4 0.8-11.1 1-2.7 0.1-5.5-0.7-8.1 0-2.9 0.7-5.1 3.4-8.1 4-6 1.3-12.2-0.8-18.2 0-2.8 0.4-5.3 1.6-8.1 2-33.6 5.6 6.1-1.6-16.2 1-3.7 0.4-7.4 1.6-11.1 2-5.4 0.6-10.8-0.3-16.2 0-0.2 0-16.4 1.8-17.2 2-1.9 0.6-3.1 2.6-5.1 3-4.8 1.1-11 1-16.2 1-1.3 0-2.7-0.1-4 0-15.1 1.5 0 0.2-9.1 2-1.1 0.2-2.8 0-4 0" style="fill:#ac9d93;stroke-width:1px;stroke:#000" />
                    <path d="m42.4 567.5c1.7 3 3.5 6 5.1 9.1 0.5 1 0.7 2 1 3 1 3 2 6.1 3 9.1 0.7 2 1.5 4 2 6.1 0.5 1.7 0.5 3.4 1 5.1 1.8 5.5 4.4 10.7 6.1 16.2 1.3 4.3 2 8.8 3 13.1 1.3 5.4 2.7 10.8 4 16.2 3.1 12.8 5.1 25.9 9.1 38.4 26.2 82.4-3.1-48.8 28.3 81.8 2.1 8.6 0.7 17.8 3 26.3 2.1 7.9 6.7 14.8 10.1 22.2 4.7 10.4 8.7 21.3 14.1 31.3 2.6 4.8 6.7 8.8 10.1 13.1 1.3 1.7 2.6 3.4 4 5.1 1.6 1.8 3.6 3.2 5.1 5.1 6.3 8.2 3.6 8.9 11.1 15.2 0.3 0.2 0.7-0.1 1 0 0.7 0.2 1.3 0.9 2 1 1 0.2 2 0 3 0 0.3 0 0.7-0.2 1 0 1.1 0.5 1.9 1.6 3 2 3.6 1.4 2.1-0.7 1 0-0.8 0.5-1.5 1.2-2 2-1.1 1.9-0.4 4.1-3 5.1-2.9 1.1-6.1 1.4-9.1 2-1.7 0.4-3.7-0.1-5.1 1-2.9 2.5-4.5 6.3-7.1 9.1-0.8 0.9-2.2 1.2-3 2-9.5 9.5-0.6 2.8-10.1 11.1-0.9 0.8-2.4 1-3 2-4.4 7.5-4.6 15.2-7.1 23.2-0.2 0.7-0.7 1.3-1 2-0.7 1.3-1.5 2.6-2 4-0.5 1.3-0.7 2.7-1 4-0.2 1 0 2 0 3 0 1.3 0 2.7 0 4 0 0.3 0 0.7 0 1 0 0.3 0.2 0.7 0 1-0.2 0.4-0.8 0.6-1 1-0.2 0.3 0.2 0.8 0 1-0.5 0.5-1.4 0.6-2 1-1 0.7-2.8 3.6-3 4-0.5 1.3-0.2 2.9-1 4-1 1.4-2.7 2-4 3-0.4 0.3-0.9 0.5-1 1-0.6 2.3-0.3 4.8-1 7.1-0.4 1.3-4.3 3.5-5.1 4-1.5 1.1-1.5 3.3-3 4-0.3 0.2-0.7-0.2-1 0-0.4 0.2-0.6 0.8-1 1-1.1 0.5-2.2-0.9-4 1-0.1 0.1-2.3 3.8-3 4-2 0.6-4.1 0.4-6.1 1-1.2 0.4-2 1.4-3 2-0.6 0.4-1.3 0.8-2 1-0.3 0.1-0.7-0.1-1 0-1.3 0.5-5.9 2.8-7.1 4-1.2 1.2-2.2 2.6-3 4-0.2 0.3 0.2 0.8 0 1-0.2 0.2-0.8-0.2-1 0-0.2 0.2 0.1 0.7 0 1-0.2 0.7-0.5 1.5-1 2-0.2 0.2-0.7-0.2-1 0-0.3 0.1-2.8 2.7-3 3-0.9 1.2-1.7 3-3 4-1 0.7-2.3 1-3 2-0.4 0.5 0.3 1.4 0 2-0.2 0.3-0.8-0.2-1 0-0.5 0.5 0.5 1.5 0 2-0.2 0.2-0.9-0.3-1 0-2.7 5.4 2 0.5-1 2-4.2 2.1 1.1-0.1-1 2-0.2 0.2-0.8-0.2-1 0-0.2 0.2 0 1.3 0 1 0-8.5 0.4 0.8-2-11.1-0.5-2.7-0.6-5.4-1-8.1-0.6-4.4-1.7-8.7-2-13.1-1.3-16.8-1-33.7-1-50.5 0-3.4 0-6.7 0-10.1 0-4.4 0.6-8.8 0-13.1-0.8-5.5-3.4-10.7-4-16.2-0.3-2.4 0.2-25.5 0-29.3-0.4-6.1-1.4-12.1-2-18.2-0.7-6.4-1.2-12.8-2-19.2-0.8-6.4-2.3-12.8-3-19.2-1.6-13.4-2.7-26.9-4-40.4-0.7-7.4-1.7-14.8-2-22.2-0.3-6.4 0-12.8 0-19.2 0-10.4 0-20.9 0-31.3 0-6.1 0.7-12.2 0-18.2-0.4-3.2-2.5-5.9-3-9.1-1.8-9.7-2.9-19.5-4-29.3-0.2-2 0.1-4 0-6.1-0.2-3.7-0.8-7.4-1-11.1-0.1-2.7 0.4-5.4 0-8.1-0.3-2.1-1.7-4-2-6.1-1.3-7.6-1-14.5-1-22.2 0-2 0.2-4.1 0-6.1-0.1-1.4-0.8-2.7-1-4-0.2-1.3 0-2.7 0-4 0-4.4 0-8.8 0-13.1 0-3 0-6.1 0-9.1 0-1-0.2-5.5 0-6.1 0.2-0.5 0.6-0.8 1-1 0.3-0.2 0.7 0.2 1 0 0.4-0.2 0.6-0.8 1-1 0.1-0.1 5 0 5.1 0 3.7 1.2-1.2 1 2 1 2 0 4 0 6.1 0 0.5 0 2.7-0.2 3 0 0.4 0.2 0.6 0.7 1 1 0.3 0.2 4 1.9 4 2 1.3 1.5 1.4 4 3 5.1 1.4 0.9 3.4 0 5.1 0 2.8 0-0.8 1 2 1" style="fill:#008000;stroke-width:1px;stroke:#000" />
                    <flowRoot style="fill:black;font-family:sans-serif;font-size:40px;letter-spacing:0px;line-height:100%;stroke-width:1px;word-spacing:0px">
                        <flowRegion>
                            <rect width="369.7" height="81.8" x="383.9" y="163.6" />
                        </flowRegion>
                    </flowRoot>
                </g>
            </svg>

        <li class="orbit-slide">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1400 500" height="500" width="1400">
                <style>
                    .a {
                        -inkscape-font-specification: Roboto;
                        font-family: Roboto;
                        font-size: 40px;
                        letter-spacing: 0px;
                        line-height: 100%;
                        stroke-width: 1px;
                        word-spacing: 0px;
                    }

                    .b {
                        -inkscape-font-specification: Roboto;
                        font-family: Roboto;
                        font-size: 70px;
                        text-align: start;
                    }

                    .c {
                        -inkscape-font-specification: Roboto;
                        font-family: Roboto;
                        font-size: 50px;
                        text-align: start;
                    }

                    .d {
                        fill: none;
                        stroke-width: 1px;
                        stroke: #000;
                    }
                </style>
                <g transform="translate(0 -552.36216)">
                    <text y="754.4" x="294" class="a">
                        <tspan y="754.4" x="294" />
                    </text>
                    <text x="340.1" y="740.6" class="a">
                        <tspan x="340.1" y="740.6" class="b">
                            <tspan x="340.1" y="740.6" class="b">
                                Box Metaphor Studios
                            </tspan>
                        </tspan>
                        <tspan x="585.4" y="805.3" class="c">
                            <tspan x="585.4" y="805.3" class="c">
                                Slide 2
                            </tspan>
                        </tspan>
                    </text>
                    <flowRoot transform="translate(0 552.36216)" class="a">
                        <flowRegion>
                            <rect y="130.3" x="262.6" height="110.1" width="484.9" style="-inkscape-font-specification:Roboto;font-family:Roboto" />
                        </flowRegion>
                    </flowRoot>
                    <flowRoot transform="translate(0 552.36216)" style="font-family:sans-serif;font-size:40px;letter-spacing:0px;line-height:100%;stroke-width:1px;word-spacing:0px">
                        <flowRegion>
                            <rect y="106" x="396" height="109.1" width="342.4" />
                        </flowRegion>
                    </flowRoot>
                    <path d="m1247.5 979.6c0.5-3.6-1.7-6.7-2-10.1-0.2-2 0.2-4 0-6.1-0.2-1.7-0.7-3.4-1-5.1-0.4-2-0.5-4.1-1-6.1-0.9-3.7-2.5-7.3-3-11.1-0.5-3.7 0.4-7.4 0-11.1-0.3-2.8-1.7-5.3-2-8.1-0.3-2.7 0-5.4 0-8.1 0-2.4 0-4.7 0-7.1 0-4.4 0-8.8 0-13.1 0-1.3-0.2-2.7 0-4 0.2-1.4 0.9-2.7 1-4 2.3-25-1.9 4.9 1-11.1 0.4-2.3 0.1-4.9 1-7.1 0.8-2 2.7-3.4 4-5.1 1.3-1.7 2.8-3.3 4-5.1 8.7-13-4.2 3.1 5.1-6.1 1.9-1.9 2.9-4.5 5.1-6.1 0.8-0.6 2.1 0.5 3 0 0.7-0.3 0.7-1.3 1-2 0.7-0.3 1.3-0.8 2-1 0.9-0.3 2.1 0.3 3 0 4.2 1.8 1.2-1.6 2-2 1.2-0.6 2.8 0.6 4 0 0.3-0.2-0.2-0.8 0-1 0.2-0.2 0.7 0 1 0 1.3 0 2.7 0.2 4 0 0.7-0.1 1.3-0.8 2-1 1.7-0.5 3.4-0.5 5.1-1 1.4-0.5 2.6-1.8 4-2 2.3-0.4 4.7 0 7.1 0 2.4 0 4.7 0 7.1 0 0.7 0 1.4 0.1 2 0 1-0.2 2-0.7 3-1 1.3-0.4 2.7-0.6 4-1 2-0.6 4.1-1.3 6.1-2 1.7-0.6 3.6-1 5.1-2 1-0.7 1-2.4 2-3 1.2-7 4.7-1.2 7.1-2 0.7-0.2 1.3-0.7 2-1 2.9-1.2 2.7-0.6 5.1-2 1-0.6 1.9-1.7 3-2 1.3-0.4 2.7 0 4 0 0.3 0 0.7 0.2 1 0 0.3-0.1 1.2-1.8 2-1 0.2 0.2-0.1 0.7 0 1 0.6 2 1.5 4 2 6.1 0.8 3-1.5 2 0 6.1 0.6 1.6 2.5 2.4 3 4 0.5 1.6-0.3 3.4 0 5.1 0.4 1.8 1.5 3.3 2 5.1 0.5 1.6 0.7 3.4 1 5.1 0.7 3 1.2 6.1 2 9.1 1.6 5.4 3.8 7 5.1 13.1 0.5 2.3-0.2 4.7 0 7.1 0.1 1.1 0.9 2 1 3 0.2 1.7 0 3.4 0 5.1 0 1.3-0.4 2.8 0 4 0.6 1.9 2.3 3.2 3 5.1 0.6 1.6 0.7 3.4 1 5.1 0.3 1.7 0.9 3.3 1 5.1 0 32.6-0.8 2.4 1 20.2 0.6 5.8-1.2 4.6 0 12.1 0.3 1.8 1.6 3.3 2 5.1 0.2 1 0 2 0 3 0 1.7 0 3.4 0 5.1 0 1.7-0.4 3.4 0 5.1 0.3 1.2 1.6 1.9 2 3 0.3 0.6-0.1 1.4 0 2 0.2 1.4 0.8 2.7 1 4 0.1 1-0.2 2 0 3 0.1 0.7 0.9 1.3 1 2 0.2 1.3 0 7.4 0 9.1 0 1.1 0.2 5.3 0 6.1-0.2 0.9-2.7 1.8-3 2-0.4 0.3-0.6 0.8-1 1-2 0.8-4 1.4-6.1 2-1.3 0.4-2.8 0.5-4 1-1.1 0.5-2 1.4-3 2-3.7 2.1-7.5 3.8-11.1 6.1-1.8 1.1-3.1 3.1-5.1 4-3.2 1.5-6.8 1.9-10.1 3-13.1 4.6-26 10.1-39.4 14.1-7 2.1-14.1 4.1-21.2 6.1-1.3 0.4-2.7 0.7-4 1-1.7 0.4-3.4 0.4-5.1 1-2.1 0.8-4 2.1-6.1 3-0.3 0.1-0.8-0.2-1 0-0.2 0.2 0 0.7 0 1" style="fill:#008080;stroke-width:1px;stroke:#000" />
                    <path d="m778.8 965.5c3-5 2.4-6.4 8.1-7.1 1.3-0.2 2.8 0.5 4 0 5-2.2 4.8-4.6 8.1-8.1 6.7-7.3 8.1-9.3 16.2-13.1 7.6-3.6 22.8-8.4 29.3-10.1 2.6-0.7 5.6 0.1 8.1-1 2.8-1.3 4.2-4.8 7.1-6.1 22.1-10.1 21.3-7.2 39.4-12.1 4.4-1.2 8.6-3.6 13.1-4 8.7-0.9 17.5 0 26.3 0 2.7 0 5.4-0.3 8.1 0 3.7 0.4 7.4 1.7 11.1 2 6.7 0.5 13.5 0 20.2 0 4.7 0 8.1-0.1 13.1 1 5.4 1.3 15.7 12.7 16.2 13.1 3 2.7 5.9 5.5 9.1 8.1 3.7 3 11.2 7.8 15.2 10.1 6 3.5 12.3 6.5 18.2 10.1 1.2 0.8 1.9 2.1 3 3 1.3 1.1 2.6 2.1 4 3 2.6 1.8 5.4 3.4 8.1 5.1 1.7 1 3.5 1.9 5.1 3 1.1 0.9 2 2 3 3 0.3 0.3 0.8 0.6 1 1 0.2 0.3 0 0.7 0 1" class="d" />
                    <path d="m782.9 1007.9c-15.8 4.5-9.2 4-19.2 4-2 0-4.1-0.2-6.1 0-1.4 0.1-2.7 0.8-4 1-1.3 0.2-2.7 0-4 0-2.4 0-4.7 0-7.1 0-1.3 0-2.8 0.4-4 0-3.2-1-5.9-3.2-9.1-4-2-0.5-4 0-6.1 0-4 0-8.1 0-12.1 0-4.4 0-8.8 0-13.1 0-4.4 0-8.8 0.2-13.1 0-5.4-0.2-10.8-0.9-16.2-1-14.8-0.4-29.6 0.4-44.4 0-14.1-0.3-24.4-1.3-38.4-3-35.6-4.3-23-1.5-51.5-10.1-4.4-1.3-8.8-2.7-13.1-4-1.7-0.7-3.3-1.4-5.1-2-1.3-0.4-2.8-0.4-4-1-1.3-1-2.7-2-4-3 0-0.3 0.2-0.7 0-1-0.9-1.1-2.1-1.9-3-3-0.9-1.2-1.3-2.7-2-4-1-1.7-2-3.4-3-5.1-0.6-1-1.5-1.9-2-3-1.5-3-0.9-4.6-2-8.1-0.2-0.5-0.9-0.6-1-1-0.2-0.6 0-4.9 0-6.1" class="d" />
                    <path d="m711.1 969.5c7.1 0 14.1 0 21.2 0 3.7 0 7.4-0.2 11.1 0 2 0.1 4 0.9 6.1 1 19 1.1 4.6-2.2 29.3 2 26.4 4.6-6.9 2.4 27.3 5.1 3.4 0.3 6.7 0 10.1 0 2.7 0 5.4 0.2 8.1 0 9.6-0.6 8-1.7 17.2-1 2 0.1 4 0.8 6.1 1 3.6 0.3 12.3-0.4 15.2 0 23.6 3.7-1.8 2.7 18.2 4 7.1 0.5 14.1 0.7 21.2 1 2 0.1 4 0 6.1 0 7.1 0 14.1 0 21.2 0 17.8 0 35.7 0 53.5 0 2.7 0 5.4 0 8.1 0 3 0 6.1-0.3 9.1 0 3.1 0.3 6 1.5 9.1 2 1.3 0.2 2.7 0 4 0 5.7 0 11.4 0 17.2 0 3.4 0 6.7 0 10.1 0 1.3 0 2.7 0 4 0 0.7 0 1.4 0.2 2 0 0.5-0.2 0.7-0.7 1-1 1-0.3 2-0.9 3-1 1.3-0.2 2.7 0.2 4 0 1.1-0.2 2-0.7 3-1 2-0.3 4-0.8 6.1-1 1-0.1 2 0.2 3 0 0.7-0.1 1.3-0.7 2-1 2-1 4-2 6.1-3 0.7-0.3 1.3-0.9 2-1 1.3-0.2 2.8 0.4 4 0 0.9-0.3 1.2-1.5 2-2 0.9-0.5 2.1-0.5 3-1 0.4-0.2 0.6-0.8 1-1 7.9-3.2 0.1 2.2 10.1-4 0.8-0.5 1.3-1.3 2-2 1-1 1.9-2.2 3-3 0.3-0.2 0.7 0.2 1 0 4.2-2.1-1.1 0.1 1-2 0.2-0.2 0.7 0.2 1 0 2.5-1.2-0.3-1 2-1" class="d" />
                    <path d="m817.2 930.1c2.4 3.7 4.2 7.8 7.1 11.1 1.6 1.8 4.2 2.5 6.1 4 1.8 1.5 3.4 3.4 5.1 5.1 0.7 0.7 1.3 1.4 2 2 0.9 0.8 2.3 1 3 2 1.4 1.8 1.9 4.1 3 6.1 0.2 0.4 0.7 0.6 1 1 1.1 1.6 1.6 3.7 3 5.1 1.1 1.1 3 1 4 2 0.5 0.5-0.2 1.4 0 2 0.9 2.6 2-0.9 2 2" style="fill:#f60;stroke-width:1px;stroke:#000" />
                    <path d="m1386.9 628.1c-25.2-18.3-1-3.3-17.2-9.1-6.5-2.4-12.5-6.2-19.2-8.1-5.2-1.5-10.9-0.9-16.2-2-13.6-2.9-26.9-7-40.4-10.1-7.3-1.7-14.8-2.8-22.2-4-16.5-2.8-33.1-4.8-49.5-8.1-7.5-1.5-14.6-4.8-22.2-6.1-12.7-2.1-25.6-2.8-38.4-4-7.4-0.7-14.8-1.8-22.2-2-8.7-0.2-42.2 3.8-45.5 4-5 0.3-10.1 0-15.2 0-4.4 0-8.8 0-13.1 0-4.4 0-8.8-0.3-13.1 0-4.1 0.3-8 1.7-12.1 2-5 0.4-10.1 0-15.2 0-3.4 0-6.7 0-10.1 0-1.7 0-3.4-0.1-5.1 0-2.7 0.3-5.4 0.7-8.1 1-1.7 0.7-3.3 1.8-5.1 2-8.7 1.1-17.5 1-26.3 2-9.4 1.1-8.5 2.4-17.2 5.1-6.1 1.7-12.1 3.4-18.2 5.1-2.7 0.3-5.5 0.3-8.1 1-29.5 7.9 33-3.3-23.2 7.1-3.7 0.7-7.4 0.8-11.1 1-2.7 0.1-5.5-0.7-8.1 0-2.9 0.7-5.1 3.4-8.1 4-6 1.3-12.2-0.8-18.2 0-2.8 0.4-5.3 1.6-8.1 2-33.6 5.6 6.1-1.6-16.2 1-3.7 0.4-7.4 1.6-11.1 2-5.4 0.6-10.8-0.3-16.2 0-0.2 0-16.4 1.8-17.2 2-1.9 0.6-3.1 2.6-5.1 3-4.8 1.1-11 1-16.2 1-1.3 0-2.7-0.1-4 0-15.1 1.5 0 0.2-9.1 2-1.1 0.2-2.8 0-4 0" style="fill:#ac9d93;stroke-width:1px;stroke:#000" />
                    <path d="m42.4 567.5c1.7 3 3.5 6 5.1 9.1 0.5 1 0.7 2 1 3 1 3 2 6.1 3 9.1 0.7 2 1.5 4 2 6.1 0.5 1.7 0.5 3.4 1 5.1 1.8 5.5 4.4 10.7 6.1 16.2 1.3 4.3 2 8.8 3 13.1 1.3 5.4 2.7 10.8 4 16.2 3.1 12.8 5.1 25.9 9.1 38.4 26.2 82.4-3.1-48.8 28.3 81.8 2.1 8.6 0.7 17.8 3 26.3 2.1 7.9 6.7 14.8 10.1 22.2 4.7 10.4 8.7 21.3 14.1 31.3 2.6 4.8 6.7 8.8 10.1 13.1 1.3 1.7 2.6 3.4 4 5.1 1.6 1.8 3.6 3.2 5.1 5.1 6.3 8.2 3.6 8.9 11.1 15.2 0.3 0.2 0.7-0.1 1 0 0.7 0.2 1.3 0.9 2 1 1 0.2 2 0 3 0 0.3 0 0.7-0.2 1 0 1.1 0.5 1.9 1.6 3 2 3.6 1.4 2.1-0.7 1 0-0.8 0.5-1.5 1.2-2 2-1.1 1.9-0.4 4.1-3 5.1-2.9 1.1-6.1 1.4-9.1 2-1.7 0.4-3.7-0.1-5.1 1-2.9 2.5-4.5 6.3-7.1 9.1-0.8 0.9-2.2 1.2-3 2-9.5 9.5-0.6 2.8-10.1 11.1-0.9 0.8-2.4 1-3 2-4.4 7.5-4.6 15.2-7.1 23.2-0.2 0.7-0.7 1.3-1 2-0.7 1.3-1.5 2.6-2 4-0.5 1.3-0.7 2.7-1 4-0.2 1 0 2 0 3 0 1.3 0 2.7 0 4 0 0.3 0 0.7 0 1 0 0.3 0.2 0.7 0 1-0.2 0.4-0.8 0.6-1 1-0.2 0.3 0.2 0.8 0 1-0.5 0.5-1.4 0.6-2 1-1 0.7-2.8 3.6-3 4-0.5 1.3-0.2 2.9-1 4-1 1.4-2.7 2-4 3-0.4 0.3-0.9 0.5-1 1-0.6 2.3-0.3 4.8-1 7.1-0.4 1.3-4.3 3.5-5.1 4-1.5 1.1-1.5 3.3-3 4-0.3 0.2-0.7-0.2-1 0-0.4 0.2-0.6 0.8-1 1-1.1 0.5-2.2-0.9-4 1-0.1 0.1-2.3 3.8-3 4-2 0.6-4.1 0.4-6.1 1-1.2 0.4-2 1.4-3 2-0.6 0.4-1.3 0.8-2 1-0.3 0.1-0.7-0.1-1 0-1.3 0.5-5.9 2.8-7.1 4-1.2 1.2-2.2 2.6-3 4-0.2 0.3 0.2 0.8 0 1-0.2 0.2-0.8-0.2-1 0-0.2 0.2 0.1 0.7 0 1-0.2 0.7-0.5 1.5-1 2-0.2 0.2-0.7-0.2-1 0-0.3 0.1-2.8 2.7-3 3-0.9 1.2-1.7 3-3 4-1 0.7-2.3 1-3 2-0.4 0.5 0.3 1.4 0 2-0.2 0.3-0.8-0.2-1 0-0.5 0.5 0.5 1.5 0 2-0.2 0.2-0.9-0.3-1 0-2.7 5.4 2 0.5-1 2-4.2 2.1 1.1-0.1-1 2-0.2 0.2-0.8-0.2-1 0-0.2 0.2 0 1.3 0 1 0-8.5 0.4 0.8-2-11.1-0.5-2.7-0.6-5.4-1-8.1-0.6-4.4-1.7-8.7-2-13.1-1.3-16.8-1-33.7-1-50.5 0-3.4 0-6.7 0-10.1 0-4.4 0.6-8.8 0-13.1-0.8-5.5-3.4-10.7-4-16.2-0.3-2.4 0.2-25.5 0-29.3-0.4-6.1-1.4-12.1-2-18.2-0.7-6.4-1.2-12.8-2-19.2-0.8-6.4-2.3-12.8-3-19.2-1.6-13.4-2.7-26.9-4-40.4-0.7-7.4-1.7-14.8-2-22.2-0.3-6.4 0-12.8 0-19.2 0-10.4 0-20.9 0-31.3 0-6.1 0.7-12.2 0-18.2-0.4-3.2-2.5-5.9-3-9.1-1.8-9.7-2.9-19.5-4-29.3-0.2-2 0.1-4 0-6.1-0.2-3.7-0.8-7.4-1-11.1-0.1-2.7 0.4-5.4 0-8.1-0.3-2.1-1.7-4-2-6.1-1.3-7.6-1-14.5-1-22.2 0-2 0.2-4.1 0-6.1-0.1-1.4-0.8-2.7-1-4-0.2-1.3 0-2.7 0-4 0-4.4 0-8.8 0-13.1 0-3 0-6.1 0-9.1 0-1-0.2-5.5 0-6.1 0.2-0.5 0.6-0.8 1-1 0.3-0.2 0.7 0.2 1 0 0.4-0.2 0.6-0.8 1-1 0.1-0.1 5 0 5.1 0 3.7 1.2-1.2 1 2 1 2 0 4 0 6.1 0 0.5 0 2.7-0.2 3 0 0.4 0.2 0.6 0.7 1 1 0.3 0.2 4 1.9 4 2 1.3 1.5 1.4 4 3 5.1 1.4 0.9 3.4 0 5.1 0 2.8 0-0.8 1 2 1" style="fill:#00f;stroke-width:1px;stroke:#000" />
                    <flowRoot style="fill:black;font-family:sans-serif;font-size:40px;letter-spacing:0px;line-height:100%;stroke-width:1px;word-spacing:0px">
                        <flowRegion>
                            <rect width="213.1" height="70.5" x="555.1" y="168.3" />
                        </flowRegion>
                    </flowRoot>
                </g>
            </svg>

        <li class="orbit-slide">
            <img src="~/images/banner3.svg" alt="Package Management" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Bring in libraries from NuGet, Bower, and npm, and automate tasks using Grunt or Gulp.
                    <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525029&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        <li class="orbit-slide">
            <img src="~/images/banner4.svg" alt="Microsoft Azure" class="img-responsive" />
            <div class="carousel-caption" role="option">
                <p>
                    Learn how Microsoft's Azure cloud platform allows you to build, deploy, and scale web apps.
                    <a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkID=525027&clcid=0x409">
                        Learn More
                    </a>
                </p>
            </div>
        </li>
    </ul>
    <nav class="orbit-bullets">
        <button class="is-active" data-slide="0"><span class="show-for-sr">First slide details.</span><span class="show-for-sr">Current Slide</span></button>
        <button data-slide="1"><span class="show-for-sr">Second slide details.</span></button>
        <button data-slide="2"><span class="show-for-sr">Third slide details.</span></button>
        <button data-slide="3"><span class="show-for-sr">Fourth slide details.</span></button>
    </nav>
</div>

