<!-- "wider" top-bar menu for 'medium' and up -->
<nav>
    <div id="widemenu" class="top-bar">
        <div class="top-bar-left">
            <ul class="dropdown menu" data-dropdown-menu>
                <li class="menu-text"><a asp-area="" asp-controller="Home" asp-action="Index">Box Metaphor Studios</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                <li><a asp-area="" asp-controller="Home" asp-action="StyleTesting">Style Testing</a></li>
            </ul>
        </div>
    </div>
</nav>