@{
    ViewData["Title"] = "About";
}
<article class="row">
    <header class="column">
        <h2>@ViewData["Title"]</h2>
        <h3>@ViewData["Message"]</h3>
    </header>
    <div class="small-12 columns">
        <p>Use this area to provide additional information.</p>
    </div>
</article>